.row {
    text-align: center;
    width: auto;
    height: auto;
    font-size: 4vw;
}

.col {
    display: inline-block;
    margin: 4vw;
    background: white;
    height: 10vw;
}

.wrap{
    text-align:center
}

.form-error{
    color: red;
}

.form-group{
    width: 100%;
    height: 6vw;
    /* border-style:groove; */
}

/* .labels{
    background-color: aqua;
}

.options{
    background-color: blue;
} */