.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.table-container {
    position: 'relative';
}

.table-header { 
    position: 'absolute';
    top: 0px;
}

/* mat-icon {
    padding-right: 15rem;
} */
.mat-form-field {
    font-size: 13px;
    width: 40%;
    border-color: black;
    font-weight: 400;
    background-color: rgb(223, 215, 215);
}

.mat-table {
    overflow: auto;
    max-height: 300px;
}

#tablehead {
    font-size: xxx-large;
}

.inner {
    display: inline-block;
}

table {
    width: 100%;
}

#patientdetails {
    font-size: x-large;
    width: 80%;
    font-weight: 500;
}
mat-header-cell,
mat-sort-header-container,
mat-cell {
    justify-content: center;
}

mat-header-cell {
    font-size: large;

}

mat-header-row {
    z-index: 0;
}

/* #btn-logout {
    justify-content: right;
} */


.icon-button {
    background-color: transparent;
    border: none;
}


.doc-header {
    display: flex;
    justify-content: center;
  }

.icon-button {
    background-color: transparent;
    border: none;
}

.row_link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}